[Desktop Entry]
Name=Crafti
Name[ch]=Crafti
Comment=Crafti for the N64
Comment[ch]=我的世界N64版
Exec=crafti
Terminal=true
Type=Application
Icon=crafti
Categories=games
