[Desktop Entry]
Name=GNGEO
Name[ch]=GNGEO
Comment=Neo Geo emulator
Comment[ch]=Neo Geo街机模拟器
Icon=gngeo
Exec=gngeo %f
Categories=emulators;
SelectorDir=/mnt/gngeo
SelectorFilter=gno,GNO
