[Desktop Entry]
Name=PCSX
Name[ch]=PCSX
Comment=PlayStation emulator
Comment[ch]=PlayStation1模拟器
Icon=pcsx
Exec=pcsx -cdfile %f
Categories=emulators
SelectorDir=/mnt/PS1
SelectorFilter=bin,img,cue,pbp,chd,BIN,IMG,CUE,PBP,CHD
