[Desktop Entry]
Name=SNES
Name[ch]=SNES
Comment=PocketSNES Emulator emulator
Comment[ch]=SFC模拟器
Icon=pocketsnes
Exec=pocketsnes %f
Categories=emulators
SelectorDir=/mnt/SNES
SelectorFilter=sfc,SFC,smc,SMC,swc,SWC
