[Desktop Entry]
Name=VBA
Name[ch]=VBA
Comment=Game Boy Advance emulator SP
Comment[ch]=GBASP模拟器
Icon=vba
Exec=vba %f
Categories=emulators
SelectorDir=/mnt/GBA
SelectorFilter=gba,GBA
