[Desktop Entry]
Name=Abbaye
Name[ch]=寺院
Comment=Indie platform game by Locomalito
Comment[ch]=Locomalito制作的独立平台游戏
Icon=abbaye
Exec=abbaye
Categories=games
