[Desktop Entry]
Name=FBA
Name[ch]=FBA
Comment=Final Burn Alpha SDL
Comment[ch]=FBA街机模拟器SDL版
Icon=fba
Exec=fba %f
Categories=emulators;
SelectorDir=/mnt/FBA
SelectorFilter=zip,ZIP,fba,FBA
