[Desktop Entry]
Name=JVM
Name[ch]=JVM
Comment=Java 2 Micro Edition
Comment[ch]=手机java模拟器240x320
Icon=jvm
Exec=run.sh -jar %f
SelectorDir=/mnt/JAVA
Categories=emulators
SelectorFilter=jar,JAR
