[Desktop Entry]
Name=JVM
Name[ch]=java模拟器
Comment=Java 2 Micro Edition 240x320
Comment[ch]=手机java模拟器竖屏版
Icon=jvm
Exec=run.sh -jar %f
SelectorDir=/mnt/JAVA
Categories=emulators
SelectorFilter=jar,JAR
