[Desktop Entry]
Name=profanation
Name[ch]=亵渎
Comment=Abusimbul Profanation Deluxe
Comment[ch]=阿布辛贝亵渎豪华版
Icon=profanation
Exec=profanation
Categories=games
