[Desktop Entry]
Name=FleshChasmer
Name[ch]=像素3D角色扮演
Comment=Hardcore 3D Action RPG (18+)
Comment[ch]=硬核3D动作角色扮演游戏（18岁以上）
Icon=FleshChasmer
Exec=FleshChasmer
Categories=games
